
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NMS&Co Interprétariat</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/customer.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NMS&Co Interprétariat</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">A propos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Service</a>
                        </li>
                         <li class="nav-item">
                           <a class="nav-link text-dark" asp-area="" asp-controller="Contact" asp-action="Index">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <section class="bannière" id="bannière">
        <div class="container">
            <h2>Une traduction de qualité</h2>
            <p>
                L'interprétation est une activité qui requiert de réelles compétences : <br>
                La maîtrise des langues traduites, ainsi que des connaissances sur le sujet traité. <br>
                Chez NMS&Co interprétariat, nos maîtres mots sont : <br>
                Rigueur, exigence et écoute.
            </p>
        </div>
    </section>

    <section class="container apropos" id="apropos">
        <div class="row">
            <div class="col-md-6">
                <h2 class="titre-texte"><span>A</span> propos de nous</h2>
                <p>
                    Nous travaillons en tant que traducteurs de confiance à Besançon depuis 2017, et nous ne voyons rien d'autre qui pourrait nous donner plus de satisfaction que notre activité. <br>
                    En tant que traducteurs à la demande, nous nous engageons à respecter deux grands principes : offrir le plus haut niveau de service possible et nous assurer que nos prix demeurent concurrentiels et abordables. <br>
                    La qualité de nos services à un tarif défiant toute concurrence est la raison pour laquelle tant de nos clients sont si fidèles et sont heureux de nous recommander à d'autres.
                </p>
            </div>

            <div class="col-md-6">
                <img src="~/Images/image2.jpg" />
            </div>
            
        </div>
    </section>

     <aside class="container">
       <h1>Nos services</h1>
        <p>Nous traduisons dans trois langues :</p>
        <ul>
            <li>Français</li>
            <li>Somali</li>
            <li>Arabe</li>
        </ul>
        <p>Traduction téléphonique : 1h (35€)</p>
        <p>Traduction en présentiel : 1h (40€)</p>
        <p>Traduction de documents : 1h (50€)</p>
    </aside>
    <aside class="container">
        <h1>Contact</h1>
        <p>Email : nasserbrid@gmail.com / zeinabrayane@gmail.com</p>
        <p>N°tél : 0783914363 / 0767142088</p>
    </aside>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - NMS&Co Interprétariat - <a asp-area="" asp-controller="Home" asp-action="Privacy"></a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>








